<%= form_tag manage_organization_settings_vessel_path(organization, vessel), builder: WrappedFormBuilder, method: :delete do %>
  <div class="modal__body">
    <label>
      <%= t("labels.move_users_to_vessel_label") %>
      <%= select_tag :vessel_id, options_for_select(vessels), prompt: t("labels.do_not_move_users_label"), "data-cy": "target-vessel-select", class: "c-select", onchange: "this.dataset.prompt = this.value !== ''" %>
    </label>
  </div>
  <div class="modal__footer">
    <%= button_tag t("labels.cancel_label"), type: :button, class: "btn--link u-mr u-text-muted", data: { target: "form-activation.action", action: "modal#hide" } %>
    <%= submit_tag t("labels.remove_label"), class: "btn btn--primary", data: { cy: "vessel-submit", disable_with: "Removing" }
    %>
  </div>
<% end %>